
body{
    background-image: url(immagini/background.jpg);
    background-size: 100%;
    color: white;
    
}


.container{
    width: 900px;
    margin: auto;
    background-color:rgba(19, 19, 19, 0.5) ;
    padding: 40px;
}

header{
    text-align: center;
}

.logo{
    width: 200px;
}

h1{
    color: rgb(35, 227, 35);
}

nav{
    text-align: center;
    background-color: rgb(35, 227, 35);
    padding: 8px;
}

.section{
   display: inline-block;
}
.body-section {
    line-height: 0.2;
  }

.borderblog1{
    height: 30px;
    width: 300px;
    background-color:orange;
    border-radius: 5px;
      }

.borderblog2 {
    height: 30px;
    width: 600px;
    background-color: rgb(23, 157, 23);
    border-radius: 5px;
}

.borderblog3 {
        height: 30px;
        width: 150px;
        background-color: red;
        border-radius: 5px;
}



